
body
{
	background: url('http://farm5.static.flickr.com/4063/4686170699_514719801a_b_d.jpg');
}

.tundra .dijitTabContainerTop-tabs .dijitTabChecked,.tundra .dijitTabContainerTop-tabs .dijitTab 
{
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: .5em;
	
}

.tundra .dijitDialog
{
	box-shadow: 10px 5px 5px black;
  -moz-box-shadow: 10px 5px 5px black;


	
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
}

td
{
	font-weight: bolder;
} 
.post-content form
{
	background: #e0e0e0;
	-moz-border-radius: .5em;
	
}

.post-content th, .tcf
{
	font-weight: bolder;
	
}

/* main classes for dojox.widget.Toaster */

.dijitToasterContent {
	padding:2em;
	padding-top:0.25em;
	background:#73c74a;
}

.dijitToasterMessage{ 
	color:#fff;
}

.dijitToasterWarning{ }
.dijitToasterError,
.dijitToasterFatal{
	font-weight:bold;
	color:#fff;
}

.dijitToasterWarning .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#d4d943;
} 

.dijitToasterError .dijitToasterContent{
	padding:1em;
	padding-top:0.25em;
	background:#c46600;
}

/* imported from dijit.css */
 
.dijitToasterClip {
	position: absolute;
	z-index: 5000;
	overflow: hidden;
}

.dijitToasterContainer {
	display: block;
	position: absolute;
	width: 30em;
	margin: 0px;
	font-size: 1em;
}
 


.