<%= error_messages_for 'action' %>
<table>

<tr>
  <td class="tcf">Action</td>
  <td><%= text_field 'action', 'id' %></td>
</tr>

<tr>
  <td class="tcf">Write Off</td>
  <td><%= text_field 'action', 'expected_writeoff'  %></td>
</tr>

<tr>
  <td class="tcf">Payment</td>
  <td><%= text_field 'action', 'expected_payment'  %></td>
</tr>
</table>


