<h1>Editing fault_type</h1>

<% form_for(@fault_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fault_type %> |
<%= link_to 'Back', fault_types_path %>