<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Claims Database</title>

    <style type="text/css">
        @import "/stylesheets/dndDefault.css";
        @import "/javascripts/dojo/dojo/resources/dojo.css";
        /*@import "/javascripts/dojo/dijit/themes/nihilo/nihilo.css";*/
        @import "/stylesheets/global.css";
		@import "/stylesheets/scaffold.css";
        @import "/javascripts/dojo/dijit/themes/tundra/tundra.css";
        @import "/javascripts/dojo/dojox/grid/enhanced/resources/tundraEnhancedGrid.css";
    </style>
    </style>
    <!--
    
    <script type="text/javascript" src="/javascripts/dojo/release/dojo/dojo/ideapad.js"></script>
        <script type="text/javascript">
            dojo.require("drails.common");
        </script>
        
    -->
    <% if RAILS_ENV != "production" %>
        <script type="text/javascript" src="/javascripts/dojo/release/dojo/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
        
    <% else %>
        <script type="text/javascript" src="/javascripts/dojo/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: true"></script>
       
    <% end %>
    
    <script>
        dojo.require("dijit.form.FilteringSelect");
        dojo.require("dojo.data.ItemFileReadStore");
        dojo.require('dijit.Dialog');
		dojo.require('dijit.form.DateTextBox');
		dojo.require('zstaff.helpers.toast');
		dojo.require('dijit.layout.TabContainer')
        // Required for all Enhanced features
          dojo.require("drails.common");
    dojo.require("dojox.grid.EnhancedGrid");
    // Row/Column drag-drop feature
    dojo.require("dojox.grid.enhanced.plugins.DnD");
    // Declarative pop-up menu feature
    dojo.require("dojox.grid.enhanced.plugins.Menu");
    // Nested sorting feature
    dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
    // Indirect selection(check box/radio button selection) feature
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
	dojo.require('zstaff.helpers.dialog');
    </script>
</head>
<body class="tundra">

<div id="content">
<div style='float:right;background:white;'>Logged in as <%= current_user.nil? ? 'noone': current_user.user_name  %> <a href='/signin'>change</a></div>	
<br style="clear:both;">
<%= yield %>
</div>

</body>
</html>